* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #231f20;
}

h1 {
    text-transform: uppercase;
    color: white;
    font-size: 4em;
}

h2 {
    text-transform: uppercase;
    font-size: 3.8em;;
}

h3 {
    font-size: 1.5em;
    text-transform: uppercase;
}

h4 {
    font-size: 1.5em;
    margin-top: 20px;
    color: darkcyan;
}

p {
    color: white;
    font-size: 2em;
}

.container {
    max-width: 1270px;
    margin: auto;
}

.hidden {
    opacity: 0;
}

.block {
   display: block
}

.none {
    display: none;
}

#dice-roll,
#dice-roll-reset{
    background-color: #231f20;
    border-radius: 10px;
    border: 1px solid white;
    padding: 20px 0;
    width: 50%;
    color: white;
    text-transform: uppercase;
}

#dice-roll:hover,
#dice-roll-reset:hover {
    cursor: pointer;
    background-color: #3d3738;
}

header {
    padding: 50px 0;
}

.header-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 200px;
    margin-right: 20px;
}

.main-container {
    max-width: 1270px;
    margin: auto;
    padding: 50px 0 20px;
    background-color: #1f1a1b;
    border: 1px solid rgba(255, 255, 255, 0.404);
    border-radius: 10px;
    color: white;
}


main .row {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

main .game {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game .dice-left,
.game .dice-right,
.text-winner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game .dice-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game .dice-left-onscreen img,
.game .dice-right-onscreen img {
    height: 200px;
}

.button-row {
    display: flex;
    justify-content: center;
}

#computer-dice,
#player-dice {
    text-align: center;
    margin-top: 20px;
    color: crimson;
}

#winner-is {
    margin-bottom: 40px;

    font-size: 2em;
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: darkgoldenrod;
}